<h1>create turtles!</h1>

<form id="createTurtleForm">
    <input type="text" id = "turtleName" placeholder="name">
    <input type="text" id = "turtleAge" placeholder="age">
    <input type="text" id = "turtleMutant" placeholder="is this a ninja turtle?">
    <input type="submit" value="add a turtle">
</form>